body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.todo-container{
    border-radius: 5px;
    box-shadow: 0,0,10px rgba(0,0,0,0.1);
    background-color: #fff;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
}

h1{
    text-align: center;
    color: #333;
}

.input-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"]{
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #218838;
}

ul{
    list-style-type: none;
    padding: 0;
}
li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

